.FooterContainer{
    background-color: var(--colorBackground);
    width: 100%;
    height: 50vh;
}
.FooterSection{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.FooterColoumn1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5rem;
}
.FooterColoumn2{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.FooterColoumn3{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
}

.FooterColoumn1 h3{
    margin-top: 5rem;
    font-size: 1.5rem;
    color: var(--colorPrimary);
}
.FooterColoumn1 p{
    font-size: 1rem;
    color: var(--colorPrimary);
    width: 60%;
}
.emailSubscribe{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
}
.emailSubscribe input[type="email"]{
    width: 40%;
    height: 3rem;
    border-radius:  0.5rem 0 0 0.5rem ;
    padding-left: 1rem;
    font-size: 0.6rem;
    color: var(--textPrimary);
    border: 2px solid var(--colorPrimary);
}
.emailSubscribe Button{
    width: 20%;
    height: 3rem;
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.FooterColoumn1 img{
    margin-top: 3rem;
    scale: 0.8;
    margin-left: -1.2rem;
    margin-bottom: 0.5rem;
}

.FooterColoumn2 h4{
    margin-top: 5rem;
    font-size: 1.2rem;
    color: var(--colorSecondary);
    margin-bottom: 0.5rem;
}
.FooterColoumn2 p{
    margin-top: 0.3rem;
    font-size: 1rem;
    color: var(--colorPrimary);
    margin-left: 1rem;
}
.FooterColoumn3 h4{
    margin-top: 5rem;
    font-size: 1.2rem;
    color: var(--colorSecondary);
    margin-bottom: 0.5rem;
}
.FooterColoumn3 p{
    margin-top: 0.3rem;
    font-size: 1rem;
    color: var(--colorPrimary);
    margin-left: 1rem;
}
.SocialLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.SocialLink:hover{
    color: var(--colorSecondary);
}

@media (max-width: 768px) {
    .FooterSection{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .FooterColoumn1, .FooterColoumn2, .FooterColoumn3{
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }
    .emailSubscribe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .emailSubscribe input[type="email"]{
        width: 80%;
        margin-bottom: 1rem;
    }
}