.SeveralItemsSectionContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 100vh;
}
.SeveralItemsSectionContainer h2{
    font-size: 3rem;
    color: var(--textPrimary);
}
.SeveralItemsSectionPara{
    font-size: 1.4rem;
    color: var(--textSecondary);
}
